<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index page</title>
</head>
<body>
Hello World!
<form method="post" action="login">
    First name: <input type="text" name="username" value="Anna"/><br/>
    Last name: <input type="text" name="password" value="123" /><br/>
    <input type="submit" name="submit"/><br/>
</form>

<p th:text="'Secret: ' + *{secret}" />
<p>This could end in a huge success! Again.</p>
</body>
</html>