<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dat17V2 login page</title>
</head>
<body>
<h2>Login</h2>
User has attempted login with following credentials:
<p th:text="'username: ' + *{user.username} "/>
<p th:text="'password: ' + *{user.password} "/>

Try again:<br/>
<form method="post" action="login">
    <input type="text" name="username" value="berit"/>
    <input type="text" name="password" value="123"/>
    <input type="submit" value="Send"/>
</form>
<h2>Previous Attempts to login:</h2>
<table>
    <tr><th>Username</th><th>password:</th></tr>
    <tr th:each="user2 : *{users}">
    <td th:text="*{user2.username}">user name</td>
    <td th:text="*{user2.password}">password</td>
    </tr>
</table>
<a href="index.html">Home</a>
</body>
</html>